body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vw;
  
}

ul{
  list-style: none;
  display: flex;
  gap: 40px;
  flex-direction: column;
  padding-top: 500px;  
}

ul li a{
  text-decoration: none;
  color: #111;
  text-transform: uppercase;
  font-family: cursive;
  font-weight: 700;
  font-size: 32px;
}

ul li a:hover{
  color: aqua;
}

img{
  position: absolute;
  top: 10px;
  right: 10px;
}
